[Unit]
Description=Temporizador de monitoreo de procesos

[Timer]
OnBootSec=1min
OnUnitActiveSec=50min

[Service]
Unit=servicio_monitoreo_ps.service

[Install]
WantedBy=timers.target
